<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans    
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/mvc    
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context    
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 开启实例化注解 -->
	<context:component-scan base-package="com.developer_jdk_test.controller"></context:component-scan>
	
	<!-- 开启mvc注解 ,,@requestMapping+@conroller=@webservlet()-->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<bean id="SwaggerConfig" class="com.developer_jdk_test.controller.SwaggerConfig"/>

	
	<!-- 不让springmvc去处理静态资源，（html,cs.js） -->
	<mvc:default-servlet-handler/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/" /><!-- 控制中心StudentController最后要转发的页面在哪个文件夹里面,此处配置为根目录，也就是webapp目录 -->
      <property name="suffix" value=".jsp" /><!-- 此服务器页面的后缀 -->
   </bean>
</beans>